<!--<button (click)="createForm()" class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded mb-4"> + Añadir jugador </button>
<app-add-player *ngIf="formularioVisible" (jugadorGuardado)="refrescarLista()" (cerrar)="hideForm()"></app-add-player>

<div class="flex flex-row gap-4 items-center p-4">
  <input type="text" [(ngModel)]="filtroNombre" placeholder="Buscar por nombre o apellido" class="p-2 border rounded w-64"/>

  <select [(ngModel)]="filtroPosicion" class="p-2 border rounded">
    <option value="">Todas las posiciones</option>
    <option *ngFor="let pos of posicionesDisponibles" [value]="pos">{{ pos }}</option>
  </select>
</div>

<div class="flex flex-row flex-wrap gap-10 w-full p-6">
  <div *ngFor="let jugador of jugadores | filtroPlayers:filtroNombre:filtroPosicion">
    <app-player-card [jugador]="jugador" class="mx-auto"></app-player-card>
  </div>
</div>-->

<div class="flex items-center justify-between p-4 flex-wrap">
  <!-- Filtros -->
  <div class="flex flex-row gap-4 items-center flex-wrap">
    <input type="text" [(ngModel)]="filtroNombre" placeholder="Buscar por nombre o apellido" class="p-2 border rounded w-64"/>

    <select [(ngModel)]="filtroPosicion" class="p-2 border rounded">
      <option value="">Todas las posiciones</option>
      <option *ngFor="let pos of posicionesDisponibles" [value]="pos">{{ pos }}</option>
    </select>
  </div>


  <button (click)="createForm()" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded mt-2 sm:mt-0">+ Añadir jugador</button>
</div>

<!-- Modal para añadir jugador -->
<app-add-player *ngIf="formularioVisible" (jugadorGuardado)="refrescarLista()" (cerrar)="hideForm()"></app-add-player>

<!-- Listado de jugadores -->
<!-- <div class="flex flex-row flex-wrap gap-10 w-full justify-center py-6">
  <div *ngFor="let jugador of jugadores | filtroPlayers:filtroNombre:filtroPosicion">
    <app-player-card [jugador]="jugador" class="mx-auto"></app-player-card>
  </div>
</div> -->
<div class="flex flex-row flex-wrap gap-10 w-full justify-center py-6">
  <div *ngFor="let jugador of jugadores | filtroPlayers:filtroNombre:filtroPosicion">
    <app-player-card [jugador]="jugador" class="mx-auto"></app-player-card>
  </div>
</div>

