<header id="ng-header"class="flex p-4 items-center justify-between bg-white shadow-md">
    <div class="flex items-center justify-between w-3/4 mx-auto">
        <div class="flex items-center flex-row gap-4">
            <img src="/public/favicon.ico" alt="logo" class="w-12 h-12">
            <h1 class="text-2xl">FRONTMOBI</h1>
        </div>
        <div class="pr-6">
            <nav class="flex items-center gap-4 text-lg">
                <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-black text-center w-36 border-b-2 hover:backdrop-brightness-90 py-1.5">Home</a>
                <!-- <a href="#" class="text-black text-center w-36 border-b-2 hover:backdrop-brightness-90 py-1.5">Home</a> -->
                <a href="https://github.com/en-serio/P1-frontend" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-black text-center w-36 border-b-2 hover:backdrop-brightness-90 py-1.5">GitHub</a>
                <a href="https://sites.google.com/uoc.edu/frontmobi/inicio" class="text-black text-center w-36 border-b-2 hover:backdrop-brightness-90 py-1.5">GSites</a>
            </nav>
        </div>
    </div>
</header>
